@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#667db6,#0082c8,#0082c8,#667db6);

    --background: 237 22.75% 4.48%;
    --foreground: 237 3.5% 97.8%;

    --muted: 237 17.5% 16.8%;
    --muted-foreground: 237 3.5% 55.6%;

    --popover: 237 58% 7.280000000000001%;
    --popover-foreground: 237 3.5% 97.8%;

    --card: 237 58% 7.280000000000001%;
    --card-foreground: 237 3.5% 97.8%;

    --border: 237 17.5% 16.8%;
    --input: 237 17.5% 16.8%;

    --primary: 237 35% 56%;
    --primary-foreground: 237 3.5% 5.6000000000000005%;

    --secondary: 237 17.5% 16.8%;
    --secondary-foreground: 237 3.5% 97.8%;

    --accent: 237 17.5% 16.8%;
    --accent-foreground: 237 3.5% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 237 3.5% 97.8%;

    --ring: 237 35% 56%;
    
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 0 0% 14.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
