/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 20px;
  width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0c0c0;
  width: 2px;
}

::-webkit-overflow-scrolling: touch;

